.card {
	&__module {
		position: relative;
		cursor: pointer;
		color: #666;
		text-decoration: none;
		padding: 1rem;
		border: 1px solid #666;
		background-color: #eee;
		border-radius: 0rem;
		transition: (color, background-color) ease-in-out 250ms;

		h5 {
			font-size: 1.5rem;
		}

		&:hover {
			background-color: #0d6efd;
			color: #fff;
		}
		&.javascript {
			&::after {
				content: "JS";
				text-align: right;
				color: #323330;
				font-weight: 500;
				align-items: end;
				justify-content: end;
				position: absolute;
				height: 2.5rem;
				width: 2.5rem;
				background: #f0db4f;
				display: inline-flex;
				bottom: 0;
				right: 0;
				box-sizing: border-box;
				padding: 0.25rem;
			}
		}
	}
}
