.card {
	&__module {
		cursor: pointer;
		color: #666;
		text-decoration: none;
		padding: 1rem;
		border: 1px solid #666;
		background-color: #eee;
		border-radius: 1rem;
		transition: (color, background-color) ease-in-out 250ms;

		h5 {
			font-size: 1.5rem;
		}

		&:hover {
			background-color: #0d6efd;
			color: #fff;
		}
	}
}
