@import url(./styles/_package.scss);
html,
body,
#root {
	overflow: hidden;
	height: 100%;
}
html {
	font-family: Roboto, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}
header,
footer {
	background: grey;
}
header {
	height: 7.5%;
}
footer {
	height: 5%;
}
section.main {
	display: flex;
	flex-direction: row;
	height: 87.5%;
	aside {
		width: 20%;
	}
	article {
		padding: 1rem 2rem;
		overflow-y: scroll;
		width: 80%;
	}
	.card {
		box-shadow: rgba(0, 0, 0, 0.5);
		&-category {
			margin-bottom: 1rem;
			.card-title {
				cursor: pointer;
				padding-bottom: 0.5rem;
				border-bottom: 1px solid #ddd;
			}
		}
	}
}
